
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
.center {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
color: white;
padding: 50px;
background: rgb(19, 49, 32);
}
body{
background: mintcream;
}
